
body {

	text-align: center;  
	background:#6DB3D4;
	font-family:Verdana, "ＭＳ Ｐゴシック", sans-serif;
	font-size:80%;

}


.update{
	text-align: left;
	
	
	
}

.link{
	font-size:100%;
	text-align:center;
	
	
}

.title1{
	font-family:"游ゴシック", "ＭＳ Ｐゴシック", sans-serif;
	font-size:300%;
	color:white;
}

.desc{
	border: double 1px white;
	
	
}

